@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;

  font-family: "Ubuntu", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.body {
  width: 100%;
}

a {
  font-size: 1.4rem;
  text-decoration: none !important;
  color: black !important;
}

.flex-d {
  display: flex;
}

h2 {
  font-size: 1rem;
}

:root {
  --primary-color: (green);
}

/* navbar styling */
#navbar {
  width: 100%;
  position: fixed;
  height: 9vh;
  color: black;
  display: flex;
  padding-right: 1rem;
  justify-content: space-between;
  border: 2px solid black;
  background-color: #fff;
  z-index: 1000;
}

.left img {
  width: auto;
  padding-left: 1rem;
}

.left h4 {
  padding-top: 15px;
  align-self: center;
  color: rgb(14, 35, 171);
}

nav ul {
  margin-top: 1rem;
  /* background-color: black; */
  display: flex;
  align-items: center;
  gap: 50px;
}

nav ul {
  font-weight: 1000;
  font-size: 22px;
  color: black;
  text-decoration: none;
}

nav ul a:hover {
  background-color: black;
  color: white !important;
  border-radius: 5PX;
  text-decoration: none;
  cursor: pointer;
}

.main{
  margin-top: 4rem;
  background-image: url(img/pexels-photo-821754.webp);
}

/* styling for contact us form  */

.con{
    padding :  6rem ;
    /* background-color: antiquewhite; */
    width: 50%;
    height: 100%;
    
  }
  #enquiry{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: auto;
    width: 100%; 
  }
  #e{
    padding: 2rem;
    border: 2px solid black ;
    height: auto;
    gap: 1rem;
    flex-direction:column ;
    width: 100%; 
    margin: auto;
  }
  #e input{
    border: 1px solid rgba(34, 74, 144, 0.3) ;
    height: 4vh;
  }
  #e h1{
    text-align: center;
  }


/* styling for footer */
.footer {
  color: white;
  width: 100%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.819);
}

.row1 {
  justify-content: space-between;
  padding: 3rem;
}

.column1 {
  color: #fff;
  width: 20%;
}

.column1 p {
  margin-top: 15px;
}

.column1 a {
  color: #fff !important;
}

.anchor {
  flex-direction: column;
  text-align: center;
}

.column3 {
  text-align: center;
}

.anchor a {
  color: white !important;
}

a:hover {
  color: black !important;
}

.row2 {
  justify-content: space-between;
  padding-right: 4rem;
  padding-left: 4rem;
}

.row2 i {
  color: white;
  font-size: 20px;
}

.companyname {
  font-size: 15px;
  text-align: center;
}

.sm {
  display: block;
}

.sm a img {
  width: 2vw;
}