@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;

  font-family: "Ubuntu", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
.body {
  width: 100%;
}

.flex-d {
  display: flex;
}

/* navbar styling */
#navbar {
  width: 100%;
  position: fixed;
  height: 9vh;
  color: black;
  display: flex;
  gap: 15rem;
  background-color: rgb(237, 237, 238);
  z-index: 999;
}
.left img {
  width: 14vh;
  padding-left: 2rem;
}
nav ul {
  margin-top: 1rem;
  /* background-color: black; */
  display: flex;
  align-items: center;
  gap: 50px;
  font-size: 20px;
}
nav ul a {
  font-weight: 1000;
  font-size: 22px;
  color: black;
  text-decoration: none;
}
nav ul a:hover {
  background-color: black;
  color: rgb(221, 214, 214);
  border-radius: 5PX;
  text-decoration: none;
  cursor: pointer;
}

.main{
  margin-top: 4rem;
  background-image: url(img/pexels-photo-821754.webp);
}

/* styling for contact us form  */

.container{
    padding :  7rem ;
    /* background-color: antiquewhite; */
    width: 50%;
    height: 100%;
    
  }
  #enquiry{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: auto;
    width: 100%; 
  }
  #e{
    padding: 2rem;
    border: 2px solid black ;
    height: auto;
    gap: 1rem;
    flex-direction:column ;
    width: 100%; 
    margin: auto;
  }
  #e input{
    border: 1px solid rgba(34, 74, 144, 0.3) ;
    height: 4vh;
  }
  #e h1{
    text-align: center;
  }


/* styling for footer */
.footer{
  color: white;
  width: 100%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.819) ;
}
.row1{
  justify-content: space-between;
  padding: 3rem;
}
.column1{
  color: #fff;
  width: 20%;
}
.column1 a{
  color: #fff;
}
 .anchor{
  flex-direction: column;
  text-align: center;
}

.anchor a{
  color: white;
  text-decoration: none;
}

.row2{
  justify-content: space-between;
  padding-right: 4rem  ;
  padding-left: 4rem  ;
}
.row2 i{
  color: white;
  font-size: xx-large;
}

.companyname{
  font-size: x-large;
  text-align: center;
}
.sm {
  display: block;
}

.sm a img{
  width: 2vw;
}