@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;

  font-family: "Ubuntu", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.body {
  width: 100%;
}

.flex-d {
  display: flex;
}

/* navbar styling */
#navbar {
  width: 100%;
  position: fixed;
  height: 9vh;
  color: black;
  display: flex;
  gap: 15rem;
  background-color: rgba(247, 246, 242, 0.599);
  z-index: 999;
}

.left img {
  width: 14vh;
  padding-left: 2rem;
}

nav ul {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: 50px;
  font-size: 20px;
}

nav ul a {
  font-weight: 1000;
  font-size: 22px;
  color: black;
  text-decoration: none;
}

nav ul a:hover {
  background-color: black;
  color: rgb(221, 214, 214);
  border-radius: 5PX;
  text-decoration: none;
  cursor: pointer;
}

/* login styling */
#login {
  /* background-image: url(https://t4.ftcdn.net/jpg/02/68/80/71/240_F_268807166_oPVMMlJcxy4OjBDkl9JPxqfJeMC98yNm.jpg); */
  background-image: url(https://img.freepik.com/free-vector/shiny-white-gray-background-with-wavy-lines_1017-25101.jpg?size=626&ext=jpg&ga=GA1.1.2129738571.1693420939&semt=ais);
  background-position:center center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-color: rgb(54, 101, 151); */
  width: 100%;
  height: 100vh;
  border: 2px solid black;
}

.container {
  padding: 2rem;
  width: 30%;
  height: 80%;
  border-left: 2px solid rgba(0, 0, 0, 0.184);
  border-right: 2px solid rgba(0, 0, 0, 0.184);
  margin: auto;
  margin-top: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.r2 {
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.email {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.emailinput {
  width: 100%;
  height: 6vh;
  border: 1px solid rgba(0, 0, 0, 0.184);
  border-radius: 5px;
}

.emailinput input {
  width: 100%;
}

.password {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.passwordinput {
  height: 6vh;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.184);
  border-radius: 5px;
}

.passwordinput input {
  width: 100%;
}

.login {
  width: 90%;
  font-size: 1.3rem;
  font-weight: 500;
  height: 5vh;
  margin: auto;
  background-color: rgb(67, 172, 67);
  text-align: center;
  border-radius: 20px;
}

.r3 {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.184);
}

.r4 {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
}

.facebook {
  color: #fff;
  width: 90%;
  font-size: 1rem;
  height: 5vh;
  margin: auto;
  background-color: #1877F2;
  text-align: center;
  border-radius: 20px;
}

.facebook i {
  font-size: 1.2rem;
}

.google {
  color: #fff;
  width: 90%;
  font-size: 1rem;
  height: 5vh;
  margin: auto;
  background-color: #f83636;
  text-align: center;
  border-radius: 20px;
}

.google i {
  font-size: 1.2rem;
}








/* footer styling */
.footer {
  color: white;
  width: 100%;
  height: auto;
  background-color: black;
}

.row1 {
  justify-content: space-between;
  padding: 3rem;
}

.column1 {
  width: 20%;
}

.anchor {
  flex-direction: column;
  text-align: center;
}

.anchor a {
  color: white;
  text-decoration: none;
}

.row2 {
  justify-content: space-between;
  padding-right: 4rem;
  padding-left: 4rem;
}

.row2 i {
  color: white;
  font-size: xx-large;
}

.companyname {
  font-size: x-large;
  text-align: center;
}

.sm a {
  text-decoration: none;
}