@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;

  font-family: "Ubuntu", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
.body {
  width: 100%;
}
a{
  font-size: 1.4rem;
  text-decoration: none !important;
  color: black !important;
}
.flex-d {
  display: flex;
}
h2{
  font-size: 1rem;
}
:root{
  --primary-color: (green);
}

/* navbar styling */
#navbar {
  width: 100%;
  position: fixed;
  height: 9vh;
  color: black;
  display: flex;
  padding-right: 1rem;
  justify-content: space-between;
  border: 2px solid black;
  background-color: #fff;
  z-index: 1000;
}
.left img {
  width: auto;
  padding-left: 1rem;
}
.left h4{
  padding-top: 15px;
  align-self: center;
  color: rgb(14, 35, 171);
}
nav ul {
  margin-top: 1rem;
  /* background-color: black; */
  display: flex;
  align-items: center;
  gap: 50px;
}
nav ul  {
  font-weight: 1000;
  font-size: 22px;
  color: black;
  text-decoration: none;
}
nav ul a:hover {
  background-color: black;
  color: white !important ;
  border-radius: 5PX;
  text-decoration: none;
  cursor: pointer;
}


#hero {
  margin-top: 4rem;
  border: 2px solid black;
  width: 100%;
  height: 75vh;
  background-image: url(img/peakpx.jpg);
  background-position: bottom;
  background-size: 100%;
  background-repeat: no-repeat;
}
#space {
  margin-top: 5rem;
  margin-left: 13rem;
  padding: 40px 15px;
  padding-left: 30px; 
  
  width: 70%;
  height: 18vh;
  border: 1px solid transparent;
  background-color: rgba(40, 39, 44, 0.8);
  border-radius: 5px;
}
#tagline {
  font-size: x-large;
  margin-top: 5rem;
  margin-left: 27rem;
  width: 50%;
  height: 17vh;
}
#searchbarmain {
  display: flex;
  width: 100%;
  /* margin: auto; */
}

.input1 {
  height: 6vh;
  width: 50%;
}
.input1 input{
  padding-left: 1rem;
}
.input1 .searchinput {
  height: 6vh;
  width: 100%;
  border-bottom-left-radius: 14px;
  border-top-left-radius: 14px;
}

.input2 {
  height: 6vh;
  width: 50%;
  display: flex;
  gap: 0px;
}
.dropdownbtn:hover {
  color: rgb(237, 239, 236);
  background-color: black;
}

.dropdownbudget {
  width: 50%;
  position: relative;
}
.dropdownproperty {
  width: 50%;
  position: relative;
}

.dropdownbudget:hover .contentBox {
  display: block;
}
.contentBox {
  width: 100%;
  display: none; 
  position: absolute;
  background-color: #f1f1f1;
  min-width: 20rem;
  z-index: 999;
}

.properties {
  width: 90%;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 8.1rem;
  list-style: disc;
}
.dropdownproperty:hover .properties {
  display: block;
}
.dropdownbtn1 {
  height: 6vh;
  width: 100%;
}
.dropdownbtn2 {
  height: 6vh;
  width: 100%;
  border-bottom-right-radius: 14px;
  border-top-right-radius: 14px;

}
.search {
  background-color:green;
  border-radius: 14px;
  font-size: 23px;
  width: 8rem;
  height: 6vh;
}

.dropdownmenu .contentBox {
  margin: auto;
  padding: 10px 15px;
  margin-right: 5px;
  max-height: 22rem;
  overflow: hidden;
  overflow-y: auto;
}
.dropdownmenu{
  width: 100%;
  height: auto;
}
.rangeBox{
    text-align: center;
    z-index: 999;
}
#click1{
  width: 60%;
}
#click2{
  width: 60%;
}

#maxBox {
  width: 50%;
  display: none;
  /* margin-left: 4rem;  */
  /* text-align: center; */
  /* justify-content: center;  */
}
#maxBox ul{
   width: 6rem;
}

#minBox {
  width: 50%;
  display: none;
  text-align: center;
  justify-content: center;
}
#minBox ul{
  width: 6rem;
}

.main {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  width: 80%;
  background-color: rgba(41, 40, 40, 0.177);
}

.main .first {
  margin-top: 20px;
  margin-left: 20px;
  padding-left: 20px;
  margin-bottom: 20px;
  gap: 5rem;

}

.featuredproperties{
  color: rgb(15, 3, 3);
  width: 50%;
  margin: auto;
}



.photos{
   background-image: url(img/cool-blue.avif);
  width: 100%;
}



/* styling for enquiry form  */

.container{

  /* background-color: antiquewhite; */
  width: 100%;
  height: 100%;
  
}
#enquiry{
  height: 100%;
  width: 30%; 
}
#enquiry {
  position: sticky; 
  top: 4rem;
  background-color: #1a1a1a8b;
  z-index: 100;
  padding: 20px;
}
.e{
  height: 100%;
  gap: 1rem;
  flex-direction:column ;
  width: 100%; 
}




/* styling for footer */
.footer{
  color: white;
  width: 100%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.819) ;
}
.row1{
  justify-content: space-between;
  padding: 3rem;
}
.column1{
  color: #fff;
  width: 20%;
}
.column1 p{
  margin-top: 15px;
}
.column1 a{
  color: #fff !important;
}
 .anchor{
  flex-direction: column;
  text-align: center;
}
.column3{
  text-align: center;
}

.anchor a{
  color: white !important;
}
 a:hover{
  color: black !important;
}

.row2{
  justify-content: space-between;
  padding-right: 4rem  ;
  padding-left: 4rem  ;
}
.row2 i{
  color: white;
  font-size: 20px ;
}

.companyname{
  font-size: 15px;
  text-align: center;
}
.sm {
  display: block;
}

.sm a img{
  width: 2vw;
}


/* testimonial stylimg */

.testimonial{
  background-image: url(img/cool-blue.avif);
  padding: 3rem;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: auto;
  gap: 2rem;
}


.r1{
  display: flex;
  justify-content: center;
}

.r2 {
  justify-content: center;
  gap: 5rem;

}
.t{
  padding: 2rem;
  width: 20%;
  display: flex;
  flex-direction: column;
  height: 25vh;
  border: 2px solid black;
}




